<!-- Sharon Zhang and Wendy Wen -->

<!-- This is the parent template that all other templates are inherited from -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name=author content="Sharon Zhang">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Amatic+SC|Pacifico|Quicksand" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="pagestyle.css">
    <title>Boston Foodie - {% block bigtitle %}{% endblock %}</title>
</head>

<body>
    <div id="pageTop">
        {% block pageTop %}{% endblock %}</div>
    {% block wholeContent %}{% endblock %}
</body>
</html>