<!-- Sharon Zhang and Wendy Wen -->

<!-- This is the template for restaurant page, inheriting the parentTemp -->

{% extends "parentTemp.html" %}
{% block bigtitle %}Restaurant Page{% endblock %}

{% block pageTop %}
<h1 id="welcome">Boston Foodie!</h1>
    <h2>Explore the restaurants and satisfy your taste</h2>
    <h2>See recommended dishes for restaurants </h2>
{% endblock %}

{% block wholeContent %}

<div id="pageIntro">
    <span id = "mainName">{{resName}}</span>
    <br><p><i>Welcome to the info page of {{resName}}</i>
    <br><br><b>Location: </b>{{loca}}  <b>Cuisine: </b>{{cuisine}} <b>Type: </b>{{type}}

</div>

<div id = "display">

<fieldset  id= "cuisineList">
    <legend><b>Top Dishes</b></legend>

    {{dishes}}
</fieldset>
</div>

<br>
<div id = "imgShow">
    {{newestImg|safe}}
</div>
<!-- Buttons directed to other page -->
<div id="navi">
    <ul>
        <li><a href ="res-info-update.cgi?resName={{resName}}"><span id = "mainName">Upload or Update {{resName}}</span>
        <li><a href="genSearch.cgi"><span id = "mainName">Go to General Search</span>

        <li><a href="dishSearch.cgi"><span id = "mainName">Go to Dishes Search</span>
        <li><a href=""><span id = "mainName">Back to Search Results</span>
    </ul>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
<script>
$("#likeB").click(function (event) {

                      currentLike = $(event.target).attr('like');
                      alert(currentLike);
                      $.ajax({
                          type: "POST",
                          url: "search.py",
                          data: {dishID: $(event.target).attr('value'),
                                 dishLike: currentLike},
                          success: function(){
                            $(event.target)['like'] = currentLike + 1;
                          }
                        })
                      // likeBleat(bid);
                    });
function incrementLike(dishID, dishLike) {
    // alert(dishLike)
    $.ajax({
                          type: "POST",
                          url: "search.py",
                          data: {dishID: $(event.target).attr('value'),
                                 dishLike: dishLike},
                          success: function(){
                            $(event.target)['like'] = dishLike + 1;
                            alert($(event.target)['like']);

                          }
                        })
}
</script>

{% endblock %}