 body{
 	background-color: mistyrose;
 }

 #pageTop{
   	text-align: center;
   	font-family:Cabin Sketch;
   }

 #welcome{
    font-weight:bold;
    font-size: 60px;
   }
 #navi{
	margin: 0 auto;
	text-align: center;
	width: 80%;

}

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	margin: 0 auto;
    width: 80%;
    background-color: #f1f1f1;
}
/*
li {
	float:left;
}
*/
    li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

    li a.active {
    background-color: #4CAF50;
    color: white;
}

    li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#mainName {
	font-family:Cabin Sketch;
	font-size: 30px;

}

#pageIntro{
	margin: 0 auto;
	text-align: center;
	width: 800px;

}

#display{
	margin: 0 auto;
	text-align: center;
	width: 60%;
}

/*#addForm{
	margin: 0 auto;
	text-align: center;
	width: 400px;
}*/

legend{
		text-align: center;
}

#generalSearch{
	background-color: lavender;
	text-indent: 10px;
	margin: 0 auto;
	width: 400px;
	padding-top: 10px;
	padding-bottom: 10px;

}

/*#searchForm{
	background-color: lavender;
	margin: 0 auto;
	width: 400px;
	padding-top: 10px;
	padding-bottom: 10px;

}*/

#dishSearch{
	text-align: center;
	background-color: lavender;
	margin: 0 auto;
	width: 400px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#lookupRes{
	text-align: center;
	background-color: lavender;
	margin: 0 auto;
	width: 400px;
	padding-top: 10px;
	padding-bottom: 10px;
}

table #info{
	text-align: center;
}

#result{
	text-align: center;
	margin: 0 auto;
	font-weight: bold;
	width: 600px;
	/*background-color: lavender;*/

}

#updateResult{
	text-align: center;
	margin: 0 auto;
	font-weight: bold;
	color: darkorchid;
}

#login{
	text-align: center;
	margin: 0 auto;
	background-color: lavender;
	width: 300px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/*#logout{
	margin: 0 auto;
	display: block;
	text-align: center;
}*/
